aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
bcrypt
beautifulsoup4
certifi
charset-normalizer
colorama
frozenlist
h11
httpcore
httpx
idna
lxml
magic-filter
multidict
numpy
opencv-python-headless
packaging
pillow
propcache
psutil
pydantic
pydantic_core
requests
requests-toolbelt
sniffio
soupsieve
tqdm
typing-inspection
typing_extensions
urllib3
yarl
yt-dlp
